{% extends 'core/navbar.html' %}
{% load static %} 
{% block bscss %}
<link rel="stylesheet" href="{% static 'core/node_modules/bootstrap/dist/css/bootstrap.css' %}"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
<link rel="stylesheet" href="{% static 'core/scss/custom.css' %}" />
{% endblock%}

{% block searchlink %}
{% url 'posting-search' %}
{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
  <div class="d-flex justify-content-center">
    <div class="card w-50">
      <div class="card-body">
        <h5 class="card-title h3">CREATE POSTING</h5>
        <form method="POST" enctype="mjkhgfa">
          {% csrf_token %}
          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Title</label>
              <input name="title" maxlength="100" type="text" required="" class="form-control" id="id_title" placeholder="Tree Planting">
            </div>
            <div class="col">
              <label  class="form-label">Organization Name</label>
              <input name="organization" type="text" class="form-control" id="id_organization" maxlength="100" required=""  placeholder="Aid All">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col mt-2">
              <label class="form-label">Country</label>
              <input name="country" type="text" maxlength="2" minlength="2" class="form-control" id="id_country" placeholder="CA">
            </div>
            <div class="col">
              <label class="form-label">Region</label>
              <input name="region" type="text" class="form-control" maxlength="25"  id="id_region" placeholder="Ontario">
            </div>
            <div class="col">
              <label class="form-label">City</label>
              <input name="city" type="text" class="form-control" id="id_city" placeholder="Ottawa">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label class="form-label">Description</label>
              <textarea name="description" style="resize: none;" rows=3 type="text" class="form-control" id="id_description" placeholder="Description of what the volunteer tasks are."></textarea>
            </div>
          </div>

            <div class="col-12">
              <label class="form-label">Hours</label>
              <input name="hours" type="text" class="form-control" id="id_hours" placeholder="3pm-6pm every Friday,">
            </div>
            <div class="d-flex justify-content-center" >
              <button type="submit" class="btn btn-primary mt-2 col-2 justify-content-center">Submit</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'core/node_modules/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
{% endblock %}