{% extends 'core/navbar.html' %}
{% load static %} 
{% block bscss %}
<link rel="stylesheet" href="{% static 'core/node_modules/bootstrap/dist/css/bootstrap.css' %}"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
<link rel="stylesheet" href="{% static 'core/scss/custom.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock%}

{% block content %}
<div class="container-fluid mt-5" style="min-height: 80%;">
    <div class="d-flex justify-content-center h-75">
        <div class="card shadow w-50" >
            <div class="card-body">
                <div class="row">
                    <div class="col text-start">
                        <h5 class="card-title h3">{{posting.title}}</h5>
                    </div>
                    <div class="col text-end">
                        <h5 class="card-title h3">{{posting.organization}}</h5>
                    </div>
                </div>
                <h6 class="card-subtitle mb-3 text-muted h5">{{posting.city}}, {{posting.region}}, {{posting.country}}</h6>
                <p class="card-text mb-3 h6">{{posting.description}}</p>
                <h6 class="card-subtitle mb-2 text-muted">{{posting.hours}}</h6>
                <hr>
                <form method="POST" class="apply-form" id="apply-form">
                    {% csrf_token %}
                    <input type="hidden" value="{{posting.id}}" name="posting_id" id="posting_id">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">First Name</label>
                                <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Jack">
                            </div>
                            <div class="col">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Fountain">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Country</label>
                                <input type="text" class="form-control" name="country" id="country" placeholder="US" maxlength="2" minlength="2">
                            </div>
                            <div class="col">
                                <label class="form-label">State/Province</label>
                                <input type="text" class="form-control" name="region" id="region" placeholder="Ontario">
                            </div>
                            <div class="col">
                                <label class="form-label">City</label>
                                <input type="text" class="form-control" name="city" id="city" placeholder="toronto">
                            </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Message to organization</label>
                        <textarea class="form-control" name="message" id="message" rows="3" style="resize:none;"></textarea>
                      </div>
                    <div class="text-center">
                        <button class="btn btn-primary mb-3" type="submit">Apply Now!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 

{% block scripts %}
<script src="{% static 'core/node_modules/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
<script>
    $(document).ready(function () {
        $("#apply-form").submit(function (event) {
            var formData = $('#apply-form').serialize();
            $.ajax({
              type: "POST",
              url: "{% url 'apply' %}",
              data: formData,
              dataType: "json",
              encode: true,
            }).done(function (data) {
              console.log(data);
            });
        
            event.preventDefault();
        });
      });   
</script>
{% endblock %}
