{% extends 'core/navbar.html' %}
{% load static %}
{% block bscss %}
<link
    rel="stylesheet"
    href="{% static 'core/node_modules/bootstrap/dist/css/bootstrap.css' %}"/>
<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
<link rel="stylesheet" href="{% static 'core/scss/custom.css' %}" />
{% endblock%} 
{% block content %}
<div id="posting-list" style="padding: 0px;" class="container-fluid">
    {% comment %} <form action="{% url 'posting-search' %}" method="get" class="form-inline">
        <div class="input-group mx-auto" style="width: 30%;">
            <input name="q" type="text" class="form-control" placeholder="Search postings">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form> {% endcomment %}
    <div class="row row-cols-auto justify-content-center">
        <div class="list-group">
            
        {% for posting in page_obj %}
            <a href="{{posting.id}}/details" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{posting.title}}, {{posting.organization}}</h5>
                    <small>{{posting.country}},{{posting.region}},{{posting.city}}<small>
                </div>
                <p class="mb-1">{{posting.description}}</p>
                <small>{{posting.hours}}</small>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'core/node_modules/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
{% endblock %}
